<div class="banner">
    <img src="{{game.header}}" alt="" class="bannerImg">
    <div class="gradient"></div>
    <div class="bannerDetails">
        <!-- <p class="bannerTitle">{{game.name}}</p> -->
        <!-- <img src="/assets/img/elden_ring_logo.png" alt="" class="logoImg"> -->
        <p class="bannerText">
            {{game.description}}
        </p>
        <div class="bannerBtns">
            <app-banner-button class="filled"></app-banner-button>
            <app-banner-button class="unfilled"></app-banner-button>
        </div>
    </div>
</div>