@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './_variables';

body{
    margin: 0;   
    background-color: $background-color;
    font-family: $font-family;
    color: $text-color;
}