@import './_variables';
:host{
    overflow: hidden;

    background-color: #2F2F2F;
    img{
        width: 100%;
        height: 242px;
        object-fit: cover;

        position: relative;

        mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,1));
        &::after{
            content:'';

            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #2F2F2F;
        }
    }

    div.gameDetails{
        width: 100%;

        padding: 0 20px;

        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .gamePrice{
            font-size: 25px;
        }

        .gameTitle{
            font-size: 20px;
        }

        button{
            background: none;
            border: none;
        }

        .cartBtn{
            border: 2px solid $highlight-color;
            padding: 0.4em 0.75em;
            border-radius: 7px;

            &.filled{
                background-color: $highlight-color;

                svg{
                    fill: #2F2F2F;
                }
            }
        }

        svg{
            width: 28px;
            height: 30px;
            fill: $highlight-color;
        }

        svg.filled{
            fill: #2F2F2F;
        }
    }

    transition: transform 0.2s;
    &:hover{
        transform: scale(1.02);
    }
}