<div class="banner">
    <img src="/assets/img/elden_ring_banner.jpg" alt="" class="bannerImg">
    <div class="gradient"></div>
    <div class="bannerDetails">
        <img src="/assets/img/elden_ring_logo.png" alt="" class="logoImg">
        <p class="bannerText">
            Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.
        </p>
        <div class="bannerBtns">
            <button>Buy now</button>
            <button>Read more</button>
        </div>
    </div>
</div>