<div class="detailBannerImgContainer"><img src="../../../assets/img/elden_ring_detail_banner.jpg" alt=""></div>
<div class="detailBannerDetailsContainer">
    <p class="gameTitle">ELDEN RING</p>
    <p class="gameSpecs"><span>Overwhelmingly positive</span> | <span>English and 24 more</span> | <span>Windows</span></p>
</div>
<div class="detailBannerTile">
    <p class="price">€59,99</p>
    <div class="buttonContainer">
        <button>Add to cart</button>
        <button>Add to wishlist</button>
    </div>
</div>